@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 5px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #E03A00;
}